/* common-shared-section */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


.btn-1 {
    color: #FFF;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700px;
    border-radius: 8px;
    border: 0px;
    background-color: #E55473;
}

.section-title {
    font-size: 40px;
    font-weight: 700px;
    color: #272727;
}

.section-paragraph {
    color: rgba(39, 39, 39, 0.60);
    /* max-width: 600px; */
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px auto;
}

/* banner-section */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(229, 84, 115, 0.1);
    padding: 50px 240px 0px 240px;
    margin-bottom: 178px;
}

.banner-title {
    color: #272727;
    width: 708px;
    font-size: 80px;
    font-weight: 700px;
}


#banner-image {
    width: 635px;
    margin-top: 50px;
}


/* feature-section */
.feature-text {
    text-align: center;
}

.feature-section {
    margin: 0px 240px;
}

.feature-picture-container {
    display: flex;
    margin-top: 48px;
    gap: 24px;
}

#feature-picture-1 {
    background-color: rgba(167, 33, 98, 0.15);
    padding: 110px 76px 0px 76px;
    border-radius: 300px 300px 0px 0px;

}

#feature-picture-2 {
    background-color: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 20px 47px;
    border-radius: 300px 300px 0px 0px;

}

#feature-picture-3 {
    background-color: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
    border-radius: 300px 300px 0px 0px;

}

/* service-section */

.services {
    display: flex;
    gap: 100px;
    margin: 128px 240px;
    padding: 85px 175px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

}

.service {
    text-align: center;
}

.service-paragraph {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 700px;
    margin-top: 24px;

}

/* hot-deal-section */
.hot-deal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 128px 0px;
    padding: 100px 400px;
    background-color: rgba(229, 84, 115, 0.05);
}
.hot-deal-text-container{
    text-align: center;
}